.quiz-intro {
  position: relative;
  width: 100%;
}

.right-corner {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.question-form {
  z-index: 99;
}

.cover-daisy {
  /* extra styling */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
}

button {
  background-color: #323949;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  padding: 1.3rem;
  width: 20%;
}

button:hover {
  background-color: #3d3e51;
}

button:focus {
  background-color: #3d3e51;
}

.next {
  border-radius: 0 50px 50px 0;
}

.previous {
  border-radius: 50px 0 0 50px;
}

.zoom-100 {
  position: absolute;
  color: white;
  font-size: 80px;
  bottom: 3500px;
  left: 20px;
}