.stem {
    height: 49vh;
    width: 10px;
    position: absolute;
    background: #5B892D;
    border-radius: 50% 50% 0% 50%;
    transform: rotateZ(65deg) skew(65deg, 65deg) translate(5px, 25%);
    box-shadow: 0 0 0 0 #000;
    top: 50%;
    left: 50%;
}

/* .stem:after {
  content: "";
  display: block;
  position: absolute;
  background: #f6bcd4;
  width: 1000px;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
  transform: rotate(-5deg) translateX(-38%);
}
  
.stem:before {
  content: "";
  display: block;
  position: absolute;
  background: #51b9a5;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100% 0% 100% 0%/100% 0% 100% 0%;
  transform: rotate(-5deg) translateX(-20%);
}
   */