@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
/* div#root {
  height: 100%;
  width: 100%; 
  padding: 0;
} */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #FDD65D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  @media only screen and (max-width: 1920px) {
    .surprise-flower {
      display: none;
    }
    .message {
      font-size: 20px;
    }
    /* .message.greetings {
      left: 23%
    } */
    /* .message.greetings {
      left: 100px;
    } */
  }
}
body:before, body:after {
  content: "";
  width: 70vmax;
  height: 70vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -20vmin;
  top: -20vmin;
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none;
}
body:after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
  transform-origin: 20% 20%;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40%/70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.message {
  font-size: 50px;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  color: #C27E10;
}

.message.flower {
  position: absolute;
  font-size: 90px;
  top: 2300px;
  left: 50px;
}

.letter {
  font-family: "Cedarville Cursive", cursive;
  font-size: 90px;

  position: absolute;
  
  top: 2300px;
  right: 50px;
}

.letter-link:hover {
  color: #D39F08;
}

.letter-link {
  text-decoration: none;
  font-size: 90px;
}


.message.greetings {
  position: absolute;
  left: 38%;
  /* display: flex; */
  /* top: 10px; */
  /* bottom: 80rem; */
  /* justify-content: center; */
}


/* .pot {
  z-index: 999999;
  width: 200px;
  height: 50px;
  background: #C27E10;
  border-radius: 20%;
  position: absolute;
  bottom: 0;
  left: 40%;
} */

/* Left */
/* .daisy-flower:nth-child(1) .stem {
  transform: rotateZ(65deg) skew(60deg, 65deg) translate(5px, 25%);
  
} */
/* 2nd */
.daisy-flower:nth-child(2) {
  z-index: 999901;
  position: absolute;
  top: 1050px;
  left: 46%;
}

.daisy-flower:nth-child(2) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  border-radius: 50% 50% 0% 50%;
  transform: rotateZ(46deg) skew(57deg, 302deg) translate(5px, 25%);
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(2) .cover-daisy {
  rotate: 10deg;
  background: transparent;
}

/* 3rd */
.daisy-flower:nth-child(3) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 43%;
  
}
.daisy-flower:nth-child(3) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(3) .cover-daisy {
  rotate: -15deg;
  background: transparent;
}


/* 4th */
.daisy-flower:nth-child(4) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 43%;
}

.daisy-flower:nth-child(4) .stem {
  width: 200px;
  border: 15px solid #5B892D;
  border-radius: 50% 50% 0% 50%;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(4) .cover-daisy {
  rotate: 10deg;
  background: transparent;
}


/* 5th */
.daisy-flower:nth-child(5) {
  z-index: 999900;
  position: absolute;
  top: 1085px;
  left: 30%;
  transform: rotatey(-40deg) translate(200px, 1%);
  
}
.daisy-flower:nth-child(5) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(5) .cover-daisy {
  rotate: -48deg;
  background: transparent;
}

/* 6th */
.daisy-flower:nth-child(6) {
  
  z-index: 999900;
  position: absolute;
  top: 1085px;
  right: 35%;
  transform: rotatey(-40deg) translate(200px, 1%);
  
}
.daisy-flower:nth-child(6) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(6) .cover-daisy {
  rotate: 48deg;
  background: transparent;
}


/* 7th */
.daisy-flower:nth-child(7) {
  z-index: 1;
  position: absolute;
  top: -600px;
  right: 40%;
}

.daisy-flower:nth-child(7) .stem {
  width: 200px;
  border: 15px solid #5B892D;
  border-radius: 50% 50% 0% 50%;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(7) .cover-daisy {
  rotate: 9deg;
  background: transparent;
}

/* 8th */
.daisy-flower:nth-child(8) {
  z-index: 1;
  position: absolute;
  top: -470px;
  left: 38%;
  
}
.daisy-flower:nth-child(8) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(8) .cover-daisy {
  rotate: -11deg;
  background: transparent;
}


/* 9th */
.daisy-flower:nth-child(9) {
  z-index: 1;
  position: absolute;
  top: -100px;
  right: 30%;
}

.daisy-flower:nth-child(9) .stem {
  width: 200px;
  border: 15px solid #5B892D;
  border-radius: 50% 50% 0% 50%;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(9) .cover-daisy {
  rotate: 20deg;
  background: transparent;
}

/* 10th */
.daisy-flower:nth-child(10) {
  
  z-index: 999800;
  position: absolute;
  top: 485px;
  right: 30%;
  transform: rotatey(-40deg) translate(200px, 1%);
  
}
.daisy-flower:nth-child(10) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(10) .cover-daisy {
  rotate: 40deg;
  background: transparent;
}

/* 11 */
.daisy-flower:nth-child(11) {
  z-index: 999800;
  position: absolute;
  top: 300px;
  left: 30%;
}

.daisy-flower:nth-child(11) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  border-radius: 50% 50% 0% 50%;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(11) .cover-daisy {
  rotate: -14deg;
  background: transparent;
}
/* .daisy-flower:nth-child(2) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 48%;
  
}
.daisy-flower:nth-child(2) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-right-color: transparent;
  border-bottom-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(2) .cover-daisy {
  rotate: -1deg;
  background: transparent;
}

.daisy-flower:nth-child(3) {
  z-index: 999900;
  position: absolute;
  top: 1295px;
  left: 55%;
}

.daisy-flower:nth-child(3) .stem {
  width: 200px;
  border: 10px solid #5B892D;
  border-radius: 50% 50% 0% 50%;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  border-left-color: transparent;
  border-bottom-color: transparent;
  background: none;
  box-shadow: none;
}

.daisy-flower:nth-child(3) .cover-daisy {
  rotate: 45deg;
  background: transparent;
} */

/* .daisy-flower:nth-child(3) .flower {
  width: 1000px;
  transform: rotateZ(54deg) skew(57deg, 302deg) translate(5px, 25%);
  background: transparent;
} */


/* 
.daisy-flower:nth-child(3) {
  z-index: 999900;
  position: absolute;
  top: 1100px;
  left: 40%;
} */

/* .daisy-flower:nth-child(4) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 35%;
}

.daisy-flower:nth-child(5) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 30%;
}

.daisy-flower:nth-child(6) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 25%;
}

.daisy-flower:nth-child(7) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 20%;
}

.daisy-flower:nth-child(8) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 15%;
}

.daisy-flower:nth-child(9) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 10%;
}

.daisy-flower:nth-child(10) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  left: 5%;
} */

/* Right */
/* .daisy-flower:nth-child(11) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 45%;
}

.daisy-flower:nth-child(12) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 40%;
}

.daisy-flower:nth-child(13) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 35%;
}

.daisy-flower:nth-child(14) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 30%;
}

.daisy-flower:nth-child(15) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 25%;
}

.daisy-flower:nth-child(16) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 20%;
}

.daisy-flower:nth-child(17) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 15%;
}

.daisy-flower:nth-child(18) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 10%;
}

.daisy-flower:nth-child(19) {
  z-index: 999900;
  position: absolute;
  top: 785px;
  right: 5%;
} */


/* .boque {
  display: grid;
}

.flower {
  display: flex;
  width: 400px;
  height: 400px;
  
}

.two-flower{
  display: grid;
}

.one {
  grid-row-start: 1;
  grid-row-end: 1;
} */